# These owners will be the default owners for everything in
# the repo, unless a later match takes precedence.
* @square/mobile-foundation-android zach-klippenstein

# Compose integration
compose/* @square/mobile-foundation-android @square/ui-systems-android @wardellbagby
