<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.squareup.workflow1.ui.internal.test">

  <application>
    <activity
        android:name=".WorkflowUiTestActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        />
    <activity
        android:name=".LegacyWorkflowUiTestActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        />
  </application>
</manifest>
