<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-sdk
      tools:overrideLibrary="com.squareup.leakcanary,com.squareup.leakcanary.android.test,com.squareup.leakcanary.core,com.squareup.leakcanary.fragments.androidx,com.squareup.leakcanary.instrumentation,com.squareup.leakcanary.objectwatcher,com.squareup.leakcanary.objectwatcher.core,com.squareup.leakcanary.plumber,com.squareup.leakcanary.plumber.core,com.squareup.leakcanary.release,com.squareup.leakcanary.utils" />

  <application>
    <activity
        android:name="com.squareup.workflow1.ui.WorkflowViewStubLifecycleActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>
    <activity
        android:name="com.squareup.workflow1.ui.navigation.fixtures.BackStackContainerLifecycleActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>
    <activity android:name="androidx.activity.ComponentActivity"/>
  </application>
</manifest>
