<manifest package="com.squareup.workflow1.ui.test"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <activity
        android:name="com.squareup.workflow1.ui.WorkflowViewStubLifecycleActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>
    <activity
        android:name="com.squareup.workflow1.ui.container.fixtures.BackStackContainerLifecycleActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"/>
  </application>
</manifest>
