name: Publish Release

on:
  workflow_dispatch:

jobs:
  publish-release:
    # macos-latest is too slow. -14 will become latest in Q2 '24
    runs-on: macos-14
    if: github.repository == 'square/workflow-kotlin'
    timeout-minutes: 35

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: gradle/wrapper-validation-action@699bb18358f12c5b78b37bb0111d3a0e2276e0e2 # v2

      - name: Ensure this isn't a -SNAPSHOT version
        uses: ./.github/actions/gradle-task
        with:
          task: checkVersionIsNotSnapshot

      - name: Assemble
        uses: ./.github/actions/gradle-task
        with:
          task: assemble

      - name: Check
        uses: ./.github/actions/gradle-task
        with:
          task: check -x artifactsCheck

      - name: Publish Release
        uses: ./.github/actions/gradle-task
        with:
          task: publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ARTIFACT_SIGNING_PRIVATE_KEY }}
