name: Publish snapshot

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-snapshot:
    runs-on: macos-latest
    if: github.repository == 'square/workflow-kotlin'
    timeout-minutes: 180

    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5

      - name: Check for -SNAPSHOT version
        uses: ./.github/actions/gradle-task
        with:
          task: checkVersionIsSnapshot
          write-cache-key: build-logic

      - name: Assemble
        uses: ./.github/actions/gradle-task
        with:
          task: assemble
          write-cache-key: main-build-artifacts

      - name: Check
        uses: ./.github/actions/gradle-task
        with:
          task: check -x artifactsCheck

      - name: Publish Snapshots
        uses: ./.github/actions/gradle-task
        with:
          task: publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_SECRET_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_SECRET_PASSPHRASE }}
