name: Publish Release

on:
  workflow_dispatch:

jobs:
  publish-release:
    runs-on: macos-latest
    if: github.repository == 'square/workflow-kotlin'
    timeout-minutes: 90

    steps:
      - uses: actions/checkout@v6
      - uses: gradle/actions/wrapper-validation@v5

      - name: Ensure this isn't a -SNAPSHOT version
        uses: ./.github/actions/gradle-task
        with:
          task: checkVersionIsNotSnapshot

      - name: Assemble
        uses: ./.github/actions/gradle-task
        with:
          task: assemble

      - name: Check
        uses: ./.github/actions/gradle-task
        with:
          task: check -x artifactsCheck

      - name: Publish Release
        uses: ./.github/actions/gradle-task
        with:
          task: publish
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_SECRET_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_SECRET_PASSPHRASE }}
